[user]
  name = Meliq Pilosyan
  email = melopilosyan@hey.com
[core]
  excludesfile = ~/.gitignore_global
[alias]
  st = status
  co = checkout
  cm = commit
  cmamend = commit --amend
  ls = log --pretty=format:"%C(yellow)%h\\ %C(green)%ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --graph
  nb = checkout -b
  df = diff
  aa = add -A
  changed = show --pretty=\"format:\" --name-only
  lastcc = show --name-only
  b = branch
  set-remote-origin = remote set-url origin
  plo = pull origin
  cmm = log --format=%B -n 1
  zup = for-each-ref --sort='authordate:iso8601' --format='%(color:green)%(authordate:relative)%09%(color:white)%(refname:short) / %(contents:subject)' refs/heads
[color]
  ui = auto
[push]
  default = current
[rebase]
  autosquash = true
[merge]
  tool = meld
[commit]
  verbose = true
